src/META-INF/wsdl/18.217.45.116_8080/teams/carrito.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uv.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uv.mx/" name="carrito">
<types>
<xsd:schema>
<xsd:import namespace="http://uv.mx/" schemaLocation="http://18.217.45.116:8080/teams/carrito?xsd=1" />
</xsd:schema>
</types>
<message name="borrarCarrito">
<part name="parameters" element="tns:borrarCarrito" />
</message>
<message name="borrarCarritoResponse">
<part name="parameters" element="tns:borrarCarritoResponse" />
</message>
<message name="borrarArticulo">
<part name="parameters" element="tns:borrarArticulo" />
</message>
<message name="borrarArticuloResponse">
<part name="parameters" element="tns:borrarArticuloResponse" />
</message>
<message name="AgregarAlCarrito">
<part name="parameters" element="tns:AgregarAlCarrito" />
</message>
<message name="AgregarAlCarritoResponse">
<part name="parameters" element="tns:AgregarAlCarritoResponse" />
</message>
<message name="getAllCarrito">
<part name="parameters" element="tns:getAllCarrito" />
</message>
<message name="getAllCarritoResponse">
<part name="parameters" element="tns:getAllCarritoResponse" />
</message>
<portType name="carrito">
<operation name="borrarCarrito">
<input wsam:Action="http://uv.mx/carrito/borrarCarritoRequest" message="tns:borrarCarrito" />
<output wsam:Action="http://uv.mx/carrito/borrarCarritoResponse" message="tns:borrarCarritoResponse" />
</operation>
<operation name="borrarArticulo">
<input wsam:Action="http://uv.mx/carrito/borrarArticuloRequest" message="tns:borrarArticulo" />
<output wsam:Action="http://uv.mx/carrito/borrarArticuloResponse" message="tns:borrarArticuloResponse" />
</operation>
<operation name="AgregarAlCarrito">
<input wsam:Action="http://uv.mx/carrito/AgregarAlCarritoRequest" message="tns:AgregarAlCarrito" />
<output wsam:Action="http://uv.mx/carrito/AgregarAlCarritoResponse" message="tns:AgregarAlCarritoResponse" />
</operation>
<operation name="getAllCarrito">
<input wsam:Action="http://uv.mx/carrito/getAllCarritoRequest" message="tns:getAllCarrito" />
<output wsam:Action="http://uv.mx/carrito/getAllCarritoResponse" message="tns:getAllCarritoResponse" />
</operation>
</portType>
<binding name="carritoPortBinding" type="tns:carrito">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="borrarCarrito">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrarArticulo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AgregarAlCarrito">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCarrito">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="carrito">
<port name="carritoPort" binding="tns:carritoPortBinding">
<soap:address location="http://18.217.45.116:8080/teams/carrito" />
</port>
</service>
</definitions>